.top-container {
  display: flex;
  flex-direction: column;
  height: 100%
}

.top-gamelogo-container {
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.top-game-button-contaier {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 100%;
  padding: 20px;
}

.top-game-button {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-image: url('../assets/images/top/wood.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.3s ease;
}
.top-game-button:hover {
  transform: scale(1.05);
}

.top-sub-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.top-sub-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.top-sub-button:hover {
  transform: scale(1.05);
}
.top-sub-button:hover .top-sub-button-icon.settings {
  transform: rotate(30deg);
}
.top-sub-button:hover .top-sub-button-icon.research {
  transform: rotate(-30deg);
}

.top-sub-button-icon {
  width: 30px;
  height: 30px;
  background-color: #1e1e1e;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: all 0.3s ease;
}
.top-sub-button-icon.settings {
  mask-image: url('../assets/images/top/gear.svg');
}
.top-sub-button-icon.research {
  mask-image: url('../assets/images/top/bolt.svg');
}
.top-sub-button-text {
  font-size: .8rem;
}